<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>Items</h1>
            {% if item not in item_list %}
                <p>item not in list</p>
            {% else %}
            <table>
                <tr>
                    <th>Items</th>
                    <th>Other Items</th>
                </tr>
                {% for items in items_list %}
                <tr>
                    <td>{{ items.name }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </main>
</body>

</html>
