{% extends 'base.html' %}
{% load static %}


{% block title %}
    Document
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a project</a>
            </p>
            {% if project_list|length > 0 %}
                <table>
                    <tr>
                        <th>Names</th>
                        <th>Number of tasks</th>
                    </tr>
                    {% for projects in project_list %}
                        <tr>
                            <td>
                                <a href="{% url 'show_project' projects.id %}">{{ projects.name }}</a>
                            </td>
                            <td>{{ projects.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>You are not assigned to any projects</p>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
