<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if project_list|length > 0 %}
            <table>
                    <tr>
                        <th>Names</th>
                        <th>Number of tasks</th>
                    </tr>
                    {% for projects in project_list %}
                    <tr>
                        <td><a href="{% url 'show_project' projects.id%}">{{ projects.name }}</a></td>
                        <td>{{ projects.tasks.all|length }}</td>
                    </tr>
                    {% endfor %}
            {% else %}
                <p> You are not assigned to any projects </p>
            </table>
            {% endif %}
        </div>
    </main>
</body>

</html>
